html {
	box-sizing: border-box
}

*, *:before, *:after {
	box-sizing: inherit
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu,
	nav, section, summary {
	display: block
}

audio, canvas, progress, video {
	display: inline-block
}

progress {
	vertical-align: baseline
}

audio:not ([controls] ){
	display: none;
	height: 0
}

[hidden], template {
	display: none
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:active, a:hover {
	outline-width: 0
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -0.25em
}

sup {
	top: -0.5em
}

figure {
	margin: 1em 40px
}

img {
	border-style: none
}

svg:not (:root ){
	overflow: hidden
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

button, input, select, textarea {
	font: inherit;
	margin: 0
}

optgroup {
	font-weight: bold
}

button, input {
	overflow: visible
}

button, select {
	text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
	-webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner,
	[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring,
	[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

textarea {
	overflow: auto
}

[type=checkbox], [type=radio] {
	padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button
	{
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}
/* End extract */
html, body {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5
}

html {
	overflow-x: hidden
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

.abheethy-serif {
	font-family: serif
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0
}

.abheethy-wide {
	letter-spacing: 4px
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}

.abheethy-image {
	max-width: 100%;
	height: auto
}

img {
	vertical-align: middle
}

a {
	color: inherit
}

.abheethy-table, .abheethy-table-all {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table
}

.abheethy-table-all {
	border: 1px solid #ccc
}

.abheethy-bordered tr, .abheethy-table-all tr {
	border-bottom: 1px solid #ddd
}

.abheethy-striped tbody tr:nth-child(even) {
	background-color: #f1f1f1
}

.abheethy-table-all tr:nth-child(odd) {
	background-color: #fff
}

.abheethy-table-all tr:nth-child(even) {
	background-color: #f1f1f1
}

.abheethy-hoverable tbody tr:hover, .abheethy-ul.abheethy-hoverable li:hover {
	background-color: #ccc
}

.abheethy-centered tr th, .abheethy-centered tr td {
	text-align: center
}

.abheethy-table td, .abheethy-table th, .abheethy-table-all td, .abheethy-table-all th {
	padding: 8px 8px;
	display: table-cell;
	text-align: left;
	vertical-align: top
}

.abheethy-table th:first-child, .abheethy-table td:first-child, .abheethy-table-all th:first-child,
	.abheethy-table-all td:first-child {
	padding-left: 16px
}

.abheethy-btn, .abheethy-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}

.abheethy-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19)
}

.abheethy-btn, .abheethy-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.abheethy-disabled, .abheethy-btn:disabled, .abheethy-button:disabled {
	cursor: not-allowed;
	opacity: 0.3
}

.abheethy-disabled *, :disabled * {
	pointer-events: none
}

.abheethy-btn.abheethy-disabled:hover, .abheethy-btn:disabled:hover {
	box-shadow: none
}

.abheethy-badge, .abheethy-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center
}

.abheethy-badge {
	border-radius: 50%
}

.abheethy-ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.abheethy-ul li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd
}

.abheethy-ul li:last-child {
	border-bottom: none
}

.abheethy-tooltip, .abheethy-display-container {
	position: relative
}

.abheethy-tooltip .abheethy-text {
	display: none
}

.abheethy-tooltip:hover .abheethy-text {
	display: inline-block
}

.abheethy-ripple:active {
	opacity: 0.5
}

.abheethy-ripple {
	transition: opacity 0s
}

.abheethy-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%
}

.abheethy-select {
	padding: 9px 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc
}

.abheethy-dropdown-click, .abheethy-dropdown-hover {
	position: relative;
	display: inline-block;
	cursor: pointer
}

.abheethy-dropdown-hover:hover .abheethy-dropdown-content {
	display: block
}

.abheethy-dropdown-hover:first-child, .abheethy-dropdown-click:hover {
	background-color: #ccc;
	color: #000
}

.abheethy-dropdown-hover:hover>.abheethy-button:first-child, .abheethy-dropdown-click:hover>.abheethy-button:first-child
	{
	background-color: #ccc;
	color: #000
}

.abheethy-dropdown-content {
	cursor: auto;
	color: #000;
	background-color: #fff;
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	padding: 0;
	z-index: 1
}

.abheethy-check, .abheethy-radio {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px
}

.abheethy-sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed !important;
	z-index: 1;
	overflow: auto
}

.abheethy-bar-block .abheethy-dropdown-hover, .abheethy-bar-block .abheethy-dropdown-click {
	width: 100%
}

.abheethy-bar-block .abheethy-dropdown-hover .abheethy-dropdown-content, .abheethy-bar-block .abheethy-dropdown-click .abheethy-dropdown-content
	{
	min-width: 100%
}

.abheethy-bar-block .abheethy-dropdown-hover .abheethy-button, .abheethy-bar-block .abheethy-dropdown-click .abheethy-button
	{
	width: 100%;
	text-align: left;
	padding: 8px 16px
}

.abheethy-main, #main {
	transition: margin-left .4s
}

.abheethy-modal {
	z-index: 3;
	display: none;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4)
}

.abheethy-modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 600px
}

.abheethy-bar {
	width: 100%;
	overflow: hidden
}

.abheethy-center .abheethy-bar {
	display: inline-block;
	width: auto
}

.abheethy-bar . {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0
}

.abheethy-bar .abheethy-dropdown-hover, .abheethy-bar .abheethy-dropdown-click {
	position: static;
	float: left
}

.abheethy-bar .abheethy-button {
	white-space: normal
}

.abheethy-bar-block .abheethy-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0
}

.abheethy-bar-block.abheethy-center .abheethy-bar-item {
	text-align: center
}

.abheethy-block {
	display: block;
	width: 100%
}

.abheethy-responsive {
	display: block;
	overflow-x: auto
}

.abheethy-container:after, .abheethy-container:before, .abheethy-panel:after, .abheethy-panel:before,
	.abheethy-row:after, .abheethy-row:before, .abheethy-row-padding:after, .abheethy-row-padding:before,
	.abheethy-cell-row:before, .abheethy-cell-row:after, .abheethy-clear:after, .abheethy-clear:before,
	.abheethy-bar:before, .abheethy-bar:after {
	content: "";
	display: table;
	clear: both
}

.abheethy-col, .abheethy-half, .abheethy-third, .abheethy-twothird, .abheethy-threequarter,
	.abheethy-quarter {
	float: left;
	width: 100%
}

.abheethy-col.s1 {
	width: 8.33333%
}

.abheethy-col.s2 {
	width: 16.66666%
}

.abheethy-col.s3 {
	width: 24.99999%
}

.abheethy-col.s4 {
	width: 33.33333%
}

.abheethy-col.s5 {
	width: 41.66666%
}

.abheethy-col.s6 {
	width: 49.99999%
}

.abheethy-col.s7 {
	width: 58.33333%
}

.abheethy-col.s8 {
	width: 66.66666%
}

.abheethy-col.s9 {
	width: 74.99999%
}

.abheethy-col.s10 {
	width: 83.33333%
}

.abheethy-col.s11 {
	width: 91.66666%
}

.abheethy-col.s12 {
	width: 99.99999%
}

@media ( min-width :601px) {
	.abheethy-col.m1 {
		width: 8.33333%
	}
	.abheethy-col.m2 {
		width: 16.66666%
	}
	.abheethy-col.m3, .abheethy-quarter {
		width: 24.99999%
	}
	.abheethy-col.m4, .abheethy-third {
		width: 33.33333%
	}
	.abheethy-col.m5 {
		width: 41.66666%
	}
	.abheethy-col.m6, .abheethy-half {
		width: 49.99999%
	}
	.abheethy-col.m7 {
		width: 58.33333%
	}
	.abheethy-col.m8, .abheethy-twothird {
		width: 66.66666%
	}
	.abheethy-col.m9, .abheethy-threequarter {
		width: 74.99999%
	}
	.abheethy-col.m10 {
		width: 83.33333%
	}
	.abheethy-col.m11 {
		width: 91.66666%
	}
	.abheethy-col.m12 {
		width: 99.99999%
	}
}

@media ( min-width :993px) {
	.abheethy-col.l1 {
		width: 8.33333%
	}
	.abheethy-col.l2 {
		width: 16.66666%
	}
	.abheethy-col.l3 {
		width: 24.99999%
	}
	.abheethy-col.l4 {
		width: 33.33333%
	}
	.abheethy-col.l5 {
		width: 41.66666%
	}
	.abheethy-col.l6 {
		width: 49.99999%
	}
	.abheethy-col.l7 {
		width: 58.33333%
	}
	.abheethy-col.l8 {
		width: 66.66666%
	}
	.abheethy-col.l9 {
		width: 74.99999%
	}
	.abheethy-col.l10 {
		width: 83.33333%
	}
	.abheethy-col.l11 {
		width: 91.66666%
	}
	.abheethy-col.l12 {
		width: 99.99999%
	}
}

.abheethy-rest {
	overflow: hidden
}

.abheethy-stretch {
	margin-left: -16px;
	margin-right: -16px
}

.abheethy-content, .abheethy-auto {
	margin-left: auto;
	margin-right: auto
}

.abheethy-content {
	max-width: 980px
}

.abheethy-auto {
	max-width: 1140px
}

.abheethy-cell-row {
	display: table;
	width: 100%
}

.abheethy-cell {
	display: table-cell
}

.abheethy-cell-top {
	vertical-align: top
}

.abheethy-cell-middle {
	vertical-align: middle
}

.abheethy-cell-bottom {
	vertical-align: bottom
}

.abheethy-hide {
	display: none !important
}

.abheethy-show-block, .abheethy-show {
	display: block !important
}

.abheethy-show-inline-block {
	display: inline-block !important
}

@media ( max-width :1205px) {
	.abheethy-auto {
		max-width: 95%
	}
}

@media ( max-width :600px) {
	.abheethy-modal-content {
		margin: 0 10px;
		width: auto !important
	}
	.abheethy-modal {
		padding-top: 30px
	}
	.abheethy-dropdown-hover.abheethy-mobile .abheethy-dropdown-content, .abheethy-dropdown-click.abheethy-mobile .abheethy-dropdown-content
		{
		position: relative
	}
	.abheethy-hide-small {
		display: none !important
	}
	.abheethy-mobile {
		display: block;
		width: 100% !important
	}
	.abheethy-bar-item.abheethy-mobile, .abheethy-dropdown-hover.abheethy-mobile, .abheethy-dropdown-click.abheethy-mobile
		{
		text-align: center
	}
	.abheethy-dropdown-hover.abheethy-mobile, .abheethy-dropdown-hover.abheethy-mobile .abheethy-btn,
		.abheethy-dropdown-hover.abheethy-mobile .abheethy-button, .abheethy-dropdown-click.abheethy-mobile,
		.abheethy-dropdown-click.abheethy-mobile .abheethy-btn, .abheethy-dropdown-click.abheethy-mobile .abheethy-button
		{
		width: 100%
	}
}

@media ( max-width :768px) {
	.abheethy-modal-content {
		width: 500px
	}
	.abheethy-modal {
		padding-top: 50px
	}
}

@media ( min-width :993px) {
	.abheethy-modal-content {
		width: 900px
	}
	.abheethy-hide-large {
		display: none !important
	}
	.abheethy-sidebar.abheethy-collapse {
		display: block !important
	}
}

@media ( max-width :992px) and (min-width:601px) {
	.abheethy-hide-medium {
		display: none !important
	}
}

@media ( max-width :992px) {
	.abheethy-sidebar.abheethy-collapse {
		display: none
	}
	.abheethy-main {
		margin-left: 0 !important;
		margin-right: 0 !important
	}
	.abheethy-auto {
		max-width: 100%
	}
}

.abheethy-top, .abheethy-bottom {
	position: fixed;
	width: 100%;
	z-index: 1
}

.abheethy-top {
	top: 0
}

.abheethy-bottom {
	bottom: 0
}

.abheethy-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2
}

.abheethy-display-topleft {
	position: absolute;
	left: 0;
	top: 0
}

.abheethy-display-topright {
	position: absolute;
	right: 0;
	top: 0
}

.abheethy-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0
}

.abheethy-display-bottomright {
	position: absolute;
	right: 0;
	bottom: 0
}

.abheethy-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.abheethy-display-left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(-0%, -50%)
}

.abheethy-display-right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%)
}

.abheethy-display-topmiddle {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%)
}

.abheethy-display-bottommiddle {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%)
}

.abheethy-display-container:hover .abheethy-display-hover {
	display: block
}

.abheethy-display-container:hover span.abheethy-display-hover {
	display: inline-block
}

.abheethy-display-hover {
	display: none
}

.abheethy-display-position {
	position: absolute
}

.abheethy-circle {
	border-radius: 50%
}

.abheethy-round-small {
	border-radius: 2px
}

.abheethy-round, .abheethy-round-medium {
	border-radius: 4px
}

.abheethy-round-large {
	border-radius: 8px
}

.abheethy-round-xlarge {
	border-radius: 16px
}

.abheethy-round-xxlarge {
	border-radius: 32px
}

.abheethy-row-padding, .abheethy-row-padding>.abheethy-half, .abheethy-row-padding>.abheethy-third,
	.abheethy-row-padding>.abheethy-twothird, .abheethy-row-padding>.abheethy-threequarter,
	.abheethy-row-padding>.abheethy-quarter, .abheethy-row-padding>.abheethy-col {
	padding: 0 8px
}

.abheethy-container, .abheethy-panel {
	padding: 0.01em 16px
}

.abheethy-panel {
	margin-top: 16px;
	margin-bottom: 16px
}

.abheethy-code, .abheethy-codespan {
	font-family: Consolas, "courier new";
	font-size: 16px
}

.abheethy-code {
	width: auto;
	background-color: #fff;
	padding: 8px 12px;
	border-left: 4px solid #4CAF50;
	word-wrap: break-word
}

.abheethy-codespan {
	color: crimson;
	background-color: #f1f1f1;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 110%
}

.abheethy-card, .abheethy-card-2 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12)
}

.abheethy-card-4, .abheethy-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0
		rgba(0, 0, 0, 0.19)
}

.abheethy-spin {
	animation: w3-spin 2s infinite linear
}

@
keyframes w3-spin { 0%{
	transform: rotate(0deg)
}

100%{
transform
:rotate(359deg)
}
}
.abheethy-animate-fading {
	animation: fading 10s infinite
}

@
keyframes fading { 0%{
	opacity: 0
}

50%{
opacity
:
1
}
100%{
opacity
:
0
}
}
.abheethy-animate-opacity {
	animation: opac 0.8s
}

@
keyframes opac {
	from {opacity: 0
}

to {
	opacity: 1
}

}
.abheethy-animate-top {
	position: relative;
	animation: animatetop 0.4s
}

@
keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
.abheethy-animate-left {
	position: relative;
	animation: animateleft 0.4s
}

@
keyframes animateleft {
	from {left: -300px;
	opacity: 0
}

to {
	left: 0;
	opacity: 1
}

}
.abheethy-animate-right {
	position: relative;
	animation: animateright 0.4s
}

@
keyframes animateright {
	from {right: -300px;
	opacity: 0
}

to {
	right: 0;
	opacity: 1
}

}
.abheethy-animate-bottom {
	position: relative;
	animation: animatebottom 0.4s
}

@
keyframes animatebottom {
	from {bottom: -300px;
	opacity: 0
}

to {
	bottom: 0;
	opacity: 1
}

}
.abheethy-animate-zoom {
	animation: animatezoom 0.6s
}

@
keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}
.abheethy-animate-input {
	transition: width 0.4s ease-in-out
}

.abheethy-animate-input:focus {
	width: 100% !important
}

.abheethy-opacity, .abheethy-hover-opacity:hover {
	opacity: 0.60
}

.abheethy-opacity-off, .abheethy-hover-opacity-off:hover {
	opacity: 1
}

.abheethy-opacity-max {
	opacity: 0.25
}

.abheethy-opacity-min {
	opacity: 0.75
}

.abheethy-greyscale-max, .abheethy-grayscale-max, .abheethy-hover-greyscale:hover,
	.abheethy-hover-grayscale:hover {
	filter: grayscale(100%)
}

.abheethy-greyscale, .abheethy-grayscale {
	filter: grayscale(75%)
}

.abheethy-greyscale-min, .abheethy-grayscale-min {
	filter: grayscale(50%)
}

.abheethy-sepia {
	filter: sepia(75%)
}

.abheethy-sepia-max, .abheethy-hover-sepia:hover {
	filter: sepia(100%)
}

.abheethy-sepia-min {
	filter: sepia(50%)
}

.abheethy-tiny {
	font-size: 10px !important
}

.abheethy-small {
	font-size: 12px !important
}

.abheethy-medium {
	font-size: 15px !important
}

.abheethy-large {
	font-size: 18px !important
}

.abheethy-xlarge {
	font-size: 24px !important
}

.abheethy-xxlarge {
	font-size: 36px !important
}

.abheethy-xxxlarge {
	font-size: 48px !important
}

.abheethy-jumbo {
	font-size: 64px !important
}

.abheethy-left-align {
	text-align: left !important
}

.abheethy-right-align {
	text-align: right !important
}

.abheethy-justify {
	text-align: justify !important
}

.abheethy-center {
	text-align: center !important
}

.abheethy-border-0 {
	border: 0 !important
}

.abheethy-border {
	border: 1px solid #ccc !important
}

.abheethy-border-top {
	border-top: 1px solid #ccc !important
}

.abheethy-border-bottom {
	border-bottom: 1px solid #ccc !important
}

.abheethy-border-left {
	border-left: 1px solid #ccc !important
}

.abheethy-border-right {
	border-right: 1px solid #ccc !important
}

.abheethy-topbar {
	border-top: 6px solid #ccc !important
}

.abheethy-bottombar {
	border-bottom: 6px solid #ccc !important
}

.abheethy-leftbar {
	border-left: 6px solid #ccc !important
}

.abheethy-rightbar {
	border-right: 6px solid #ccc !important
}

.abheethy-section, .abheethy-code {
	margin-top: 16px !important;
	margin-bottom: 16px !important
}

.abheethy-margin {
	margin: 16px !important
}

.abheethy-margin-top {
	margin-top: 16px !important
}

.abheethy-margin-bottom {
	margin-bottom: 16px !important
}

.abheethy-margin-left {
	margin-left: 16px !important
}

.abheethy-margin-right {
	margin-right: 16px !important
}

.abheethy-padding-small {
	padding: 4px 8px !important
}

.abheethy-padding {
	padding: 8px 16px !important
}

.abheethy-padding-large {
	padding: 12px 24px !important
}

.abheethy-padding-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important
}

.abheethy-padding-24 {
	padding-top: 24px !important;
	padding-bottom: 24px !important
}

.abheethy-padding-32 {
	padding-top: 32px !important;
	padding-bottom: 32px !important
}

.abheethy-padding-48 {
	padding-top: 48px !important;
	padding-bottom: 48px !important
}

.abheethy-padding-64 {
	padding-top: 64px !important;
	padding-bottom: 64px !important
}

.abheethy-left {
	float: left !important
}

.abheethy-right {
	float: right !important
}

.abheethy-button:hover {
	color: #000 !important;
	background-color: #ccc !important
}

.abheethy-transparent, .abheethy-hover-none:hover {
	background-color: transparent !important
}

.abheethy-hover-none:hover {
	box-shadow: none !important
}
/* Colors */
.abheethy-amber, .abheethy-hover-amber:hover {
	color: #000 !important;
	background-color: #ffc107 !important
}

.abheethy-aqua, .abheethy-hover-aqua:hover {
	color: #000 !important;
	background-color: #00ffff !important
}

.abheethy-blue, .abheethy-hover-blue:hover {
	color: #fff !important;
	background-color: #2196F3 !important
}

.abheethy-light-blue, .abheethy-hover-light-blue:hover {
	color: #000 !important;
	background-color: #87CEEB !important
}

.abheethy-brown, .abheethy-hover-brown:hover {
	color: #fff !important;
	background-color: #795548 !important
}

.abheethy-cyan, .abheethy-hover-cyan:hover {
	color: #000 !important;
	background-color: #00bcd4 !important
}

.abheethy-blue-grey, .abheethy-hover-blue-grey:hover, .abheethy-blue-gray,
	.abheethy-hover-blue-gray:hover {
	color: #fff !important;
	background-color: #607d8b !important
}

.abheethy-green, .abheethy-hover-green:hover {
	color: #fff !important;
	background-color: #4CAF50 !important
}

.abheethy-light-green, .abheethy-hover-light-green:hover {
	color: #000 !important;
	background-color: #8bc34a !important
}

.abheethy-indigo, .abheethy-hover-indigo:hover {
	color: #fff !important;
	background-color: #3f51b5 !important
}

.abheethy-khaki, .abheethy-hover-khaki:hover {
	color: #000 !important;
	background-color: #f0e68c !important
}

.abheethy-lime, .abheethy-hover-lime:hover {
	color: #000 !important;
	background-color: #cddc39 !important
}

.abheethy-orange, .abheethy-hover-orange:hover {
	color: #000 !important;
	background-color: #ff9800 !important
}

.abheethy-deep-orange, .abheethy-hover-deep-orange:hover {
	color: #fff !important;
	background-color: #ff5722 !important
}

.abheethy-pink, .abheethy-hover-pink:hover {
	color: #fff !important;
	background-color: #e91e63 !important
}

.abheethy-purple, .abheethy-hover-purple:hover {
	color: #fff !important;
	background-color: #9c27b0 !important
}

.abheethy-deep-purple, .abheethy-hover-deep-purple:hover {
	color: #fff !important;
	background-color: #673ab7 !important
}

.abheethy-red, .abheethy-hover-red:hover {
	color: #fff !important;
	background-color: #f44336 !important
}

.abheethy-sand, .abheethy-hover-sand:hover {
	color: #000 !important;
	background-color: #fdf5e6 !important
}

.abheethy-teal, .abheethy-hover-teal:hover {
	color: #fff !important;
	background-color: #009688 !important
}

.abheethy-yellow, .abheethy-hover-yellow:hover {
	color: #000 !important;
	background-color: #ffeb3b !important
}

.abheethy-white, .abheethy-hover-white:hover {
	color: #000 !important;
	background-color: #fff !important
}

.abheethy-black, .abheethy-hover-black:hover {
	color: #fff !important;
	background-color: #000 !important
}

.abheethy-grey, .abheethy-hover-grey:hover, .abheethy-gray, .abheethy-hover-gray:hover {
	color: #000 !important;
	background-color: #9e9e9e !important
}

.abheethy-light-grey, .abheethy-hover-light-grey:hover, .abheethy-light-gray,
	.abheethy-hover-light-gray:hover {
	color: #000 !important;
	background-color: #9E9E9E !important;
}

.abheethy-dark-grey, .abheethy-hover-dark-grey:hover, .abheethy-dark-gray,
	.abheethy-hover-dark-gray:hover {
	color: #fff !important;
	background-color: #616161 !important
}

.abheethy-pale-red, .abheethy-hover-pale-red:hover {
	color: #000 !important;
	background-color: #ffdddd !important
}

.abheethy-pale-green, .abheethy-hover-pale-green:hover {
	color: #000 !important;
	background-color: #ddffdd !important
}

.abheethy-pale-yellow, .abheethy-hover-pale-yellow:hover {
	color: #000 !important;
	background-color: #ffffcc !important
}

.abheethy-pale-blue, .abheethy-hover-pale-blue:hover {
	color: #000 !important;
	background-color: #ddffff !important
}

.abheethy-text-amber, .abheethy-hover-text-amber:hover {
	color: #ffc107 !important
}

.abheethy-text-aqua, .abheethy-hover-text-aqua:hover {
	color: #00ffff !important
}

.abheethy-text-blue, .abheethy-hover-text-blue:hover {
	color: #2196F3 !important
}

.abheethy-text-light-blue, .abheethy-hover-text-light-blue:hover {
	color: #87CEEB !important
}

.abheethy-text-brown, .abheethy-hover-text-brown:hover {
	color: #795548 !important
}

.abheethy-text-cyan, .abheethy-hover-text-cyan:hover {
	color: #00bcd4 !important
}

.abheethy-text-blue-grey, .abheethy-hover-text-blue-grey:hover, .abheethy-text-blue-gray,
	.abheethy-hover-text-blue-gray:hover {
	color: #607d8b !important
}

.abheethy-text-green, .abheethy-hover-text-green:hover {
	color: #4CAF50 !important
}

.abheethy-text-light-green, .abheethy-hover-text-light-green:hover {
	color: #8bc34a !important
}

.abheethy-text-indigo, .abheethy-hover-text-indigo:hover {
	color: #3f51b5 !important
}

.abheethy-text-khaki, .abheethy-hover-text-khaki:hover {
	color: #b4aa50 !important
}

.abheethy-text-lime, .abheethy-hover-text-lime:hover {
	color: #cddc39 !important
}

.abheethy-text-orange, .abheethy-hover-text-orange:hover {
	color: #ff9800 !important
}

.abheethy-text-deep-orange, .abheethy-hover-text-deep-orange:hover {
	color: #ff5722 !important
}

.abheethy-text-pink, .abheethy-hover-text-pink:hover {
	color: #e91e63 !important
}

.abheethy-text-purple, .abheethy-hover-text-purple:hover {
	color: #9c27b0 !important
}

.abheethy-text-deep-purple, .abheethy-hover-text-deep-purple:hover {
	color: #673ab7 !important
}

.abheethy-text-red, .abheethy-hover-text-red:hover {
	color: #f44336 !important
}

.abheethy-text-sand, .abheethy-hover-text-sand:hover {
	color: #fdf5e6 !important
}

.abheethy-text-teal, .abheethy-hover-text-teal:hover {
	color: #009688 !important
}

.abheethy-text-yellow, .abheethy-hover-text-yellow:hover {
	color: #d2be0e !important
}

.abheethy-text-white, .abheethy-hover-text-white:hover {
	color: #fff !important
}

.abheethy-text-black, .abheethy-hover-text-black:hover {
	color: #000 !important
}

.abheethy-text-grey, .abheethy-hover-text-grey:hover, .abheethy-text-gray,
	.abheethy-hover-text-gray:hover {
	color: #757575 !important
}

.abheethy-text-light-grey, .abheethy-hover-text-light-grey:hover,
	.abheethy-text-light-gray, .abheethy-hover-text-light-gray:hover {
	color: #f1f1f1 !important
}

.abheethy-text-dark-grey, .abheethy-hover-text-dark-grey:hover, .abheethy-text-dark-gray,
	.abheethy-hover-text-dark-gray:hover {
	color: #3a3a3a !important
}

.abheethy-border-amber, .abheethy-hover-border-amber:hover {
	border-color: #ffc107 !important
}

.abheethy-border-aqua, .abheethy-hover-border-aqua:hover {
	border-color: #00ffff !important
}

.abheethy-border-blue, .abheethy-hover-border-blue:hover {
	border-color: #2196F3 !important
}

.abheethy-border-light-blue, .abheethy-hover-border-light-blue:hover {
	border-color: #87CEEB !important
}

.abheethy-border-brown, .abheethy-hover-border-brown:hover {
	border-color: #795548 !important
}

.abheethy-border-cyan, .abheethy-hover-border-cyan:hover {
	border-color: #00bcd4 !important
}

.abheethy-border-blue-grey, .abheethy-hover-border-blue-grey:hover,
	.abheethy-border-blue-gray, .abheethy-hover-border-blue-gray:hover {
	border-color: #607d8b !important
}

.abheethy-border-green, .abheethy-hover-border-green:hover {
	border-color: #4CAF50 !important
}

.abheethy-border-light-green, .abheethy-hover-border-light-green:hover {
	border-color: #8bc34a !important
}

.abheethy-border-indigo, .abheethy-hover-border-indigo:hover {
	border-color: #3f51b5 !important
}

.abheethy-border-khaki, .abheethy-hover-border-khaki:hover {
	border-color: #f0e68c !important
}

.abheethy-border-lime, .abheethy-hover-border-lime:hover {
	border-color: #cddc39 !important
}

.abheethy-border-orange, .abheethy-hover-border-orange:hover {
	border-color: #ff9800 !important
}

.abheethy-border-deep-orange, .abheethy-hover-border-deep-orange:hover {
	border-color: #ff5722 !important
}

.abheethy-border-pink, .abheethy-hover-border-pink:hover {
	border-color: #e91e63 !important
}

.abheethy-border-purple, .abheethy-hover-border-purple:hover {
	border-color: #9c27b0 !important
}

.abheethy-border-deep-purple, .abheethy-hover-border-deep-purple:hover {
	border-color: #673ab7 !important
}

.abheethy-border-red, .abheethy-hover-border-red:hover {
	border-color: #f44336 !important
}

.abheethy-border-sand, .abheethy-hover-border-sand:hover {
	border-color: #fdf5e6 !important
}

.abheethy-border-teal, .abheethy-hover-border-teal:hover {
	border-color: #009688 !important
}

.abheethy-border-yellow, .abheethy-hover-border-yellow:hover {
	border-color: #ffeb3b !important
}

.abheethy-border-white, .abheethy-hover-border-white:hover {
	border-color: #fff !important
}

.abheethy-border-black, .abheethy-hover-border-black:hover {
	border-color: #000 !important
}

.abheethy-border-grey, .abheethy-hover-border-grey:hover, .abheethy-border-gray,
	.abheethy-hover-border-gray:hover {
	border-color: #9e9e9e !important
}

.abheethy-border-light-grey, .abheethy-hover-border-light-grey:hover,
	.abheethy-border-light-gray, .abheethy-hover-border-light-gray:hover {
	border-color: #f1f1f1 !important
}

.abheethy-border-dark-grey, .abheethy-hover-border-dark-grey:hover,
	.abheethy-border-dark-gray, .abheethy-hover-border-dark-gray:hover {
	border-color: #616161 !important
}

.abheethy-border-pale-red, .abheethy-hover-border-pale-red:hover {
	border-color: #ffe7e7 !important
}

.abheethy-border-pale-green, .abheethy-hover-border-pale-green:hover {
	border-color: #e7ffe7 !important
}

.abheethy-border-pale-yellow, .abheethy-hover-border-pale-yellow:hover {
	border-color: #ffffcc !important
}

.abheethy-border-pale-blue, .abheethy-hover-border-pale-blue:hover {
	border-color: #e7ffff !important
}
.fa:hover{
	cursor: pointer;
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.abheethy-footer{
	text-align-last: center;
}
.thankyou_message{
	text-align:center;
}
.sending_mail{
	text-align:center;
}



.w3-circle {
    border-radius: 50%
}

.abheethy-round-small {
    border-radius: 2px
}

.abheethy-round,.abheethy-round-medium {
    border-radius: 4px
}

.abheethy-round-large {
    border-radius: 8px
}

.abheethy-round-xlarge {
    border-radius: 16px
}

.abheethy-round-xxlarge {
    border-radius: 32px
}

.knowledge-list {
    float: left;
    color: #000;
    text-align: center;
    margin: 5px;
    height: 50px;
    width: 200px;
    line-height: 50px;
    background-color: #9e9e9e;
    border-radius: 70px;
}
.container {
  margin-top: 20px;
  overflow: hidden;
}
.button_resume{
	border-radius: 50px;
}
.map {
      height: 400px;
      width: 100%;
    }